.postgallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  gap: 10px;
  justify-content: space-around;
  margin-top: 10%;
  margin-left: 15%;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
