.header {
  width: 10%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header h1 {
  margin-bottom: 20px;
  color: white;
}

.nav {
  margin-top: 100%;
  width: 100%;
}

.link-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7vh;
  align-items: start;
  font-size: larger;
  font-weight: 200;
}

.link-list li {
  width: 100%;
}

.link {
  text-decoration: none;
  color: white;
  padding: 10px 0;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s ease;
  border-radius: 15%;
}

.link:hover {
  padding: 2vh;
  padding-left: 0;
  background-color: #fff;
  color: black;
  border-radius: 15%;
}
