.subheader {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
  padding-top: 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid black;
}

.subheader__item {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: auto;
  margin-right: 10%;
}

.subheader__item--language {
  display: flex;
  flex-direction: column;
  margin-left: 2vh;
}

.subheader__item--language button {
  background-color: #fff;
  font-size: 1.3vh;
  font-weight: bold;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  transform: translateY(-1px);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 2px outset #fff;
}

.subheader__item--language button:hover {
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.274);
  background-color: rgba(2, 67, 142, 1);
  color: #fff;
}

.subheader__item--login {
  display: flex;
  align-items: center;
  gap: 1em;
}
.subheader__item--loginLink {
  margin-left: 2vh;
  background-color: #fff;
  font-size: 1.3vh;
  font-weight: bold;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  transform: translateY(-1px);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 2px outset #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.subheader__item--loginLink:hover {
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.274);
  background-color: rgba(2, 67, 142, 1);
  color: #fff;
}

.subheader__logo {
  margin-left: 5vh;
}

.subheader__logo img {
  width: 10vh;
  height: 10vh;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
  animation: logo-spin infinite 20s linear;
}

.subheader__logo img:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.subheader__logo h1 {
  width: 10vh;
  height: 10vh;
  padding: 0.5em;
  padding-bottom: 0;
  will-change: filter;
  transition: filter 300ms;
  animation: logo-breath infinite 5s linear;
}

.subheader__logo h1:hover {
  text-shadow: -4px 6px 45px #646cffaa;
}

@keyframes logo-breath {
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
