.highcharts-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin-top: 10%;
  margin-left: 10%;
}

@media (max-width: 1500px) {
  .highcharts-page {
    margin-top: 15%;
  }
}

@media (max-width: 1000px) {
  .highcharts-page {
    margin-top: 20%;
  }
}
