.post-details-container {
  max-width: 90%;

  margin-left: 15%;
}

.post-details {
  margin: 20%;

  margin-bottom: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 50px;
  border-radius: 5%;
}

.post-details__userid {
  padding: 0.3vh;
  border-radius: 10%;
  background-color: rgba(2, 67, 142, 1);
  color: #fff;
}

.post-details__body {
  text-align: justify;
  font-size: large;
}

.postdetails__button-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
