.post-details-container {
  max-width: 90%;
  margin-top: 10%;
  margin-left: 15%;
}

.post-details {
  margin: 20%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 50px;
  border-radius: 2%;
}

.post-details__title {
}

.post-details__body {
  text-align: justify;
  font-size: large;
}

.postdetails__button-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
