.post-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.post-card{
    width: auto;
    border: 1px solid black; 
    margin: 5px;
    background-color: lightblue  
}
