/* body {
  background: rgb(1, 0, 28);
  background: linear-gradient(
    0deg,
    rgba(1, 0, 28, 1) 0%,
    rgb(1, 41, 75) 30%,
    rgba(2, 67, 142, 1) 56%
  );
  min-height: 100vh;
} */

:root {
  --background-gradient: linear-gradient(
    0deg,
    rgba(1, 0, 28, 1) 0%,
    rgb(1, 41, 75) 30%,
    rgba(2, 67, 142, 1) 56%
  );
  --text-color: white;
}

.no-theme {
  background: white !important;
  color: black !important;
}

.light-mode {
  --background-gradient: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(200, 200, 200) 30%,
    rgb(160, 160, 160) 56%
  );
  --text-color: black;
}

body {
  background: var(--background-gradient);
  color: var(--text-color);
  min-height: 100vh;
  transition:
    background-color 0.3s ease,
    color 0.5s ease;
}
